.charter .container {
    display: flex;
    
    min-height: 828px; /* вместо height: 828px */
}
.title__section-charter {
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;

    width: 622px;
}

.title__section-charter span {
    color: #E91609;
}
.text__desc-left {
    margin-top: 180px;
    width: 622px;
    height: 450px;
}

.text-desc {
    font-size: 20px;
    width: 582px;
    font-weight: 100;

    margin-top: 20px;
}

.text-three {
    margin-bottom: 100px;
}

.link-text {

    font-size: 20px;
    border-bottom: 3px #E91609 solid;

    width: 266px;
    
}

.sertification-img {
    height: auto;
    max-height: 100%; /* Не превышает высоту родителя */
    width: auto; /* Чтобы сохранять пропорции */
}


