@import url(./header.css);
@import url(./reset.css);
@import url(./fonts.css);
@import url(./main.css);
@import url(./charterSection.css);
@import url(./ListPoint.css);
@import url(./RevenuePoints.css);
@import url(./SectionBenefit.css);

.container {
    max-width: 1420px;
    /* height: 80px; */
    margin: 0 auto
}

.btn {
    font-weight: 700;
    font-size: 22px;
    border-radius: 20px;

    background-color: #E91609;
} 

body {
    font-family: "Montserrat", sans-serif;

}