@import url(./fonts.css);
/* Reset and base styles  */

* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */



a, a:link, a:visited  {
    text-decoration: none;
	color: #fff;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p, figure {
    font-size: inherit;
	font-weight: inherit;
	margin: 0 ;
}



ul, ul li {
	list-style: none;
}

ul {
    padding: 0;
    margin: 0;
}


img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

button {
    padding: 0;
    border: none;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}


html {
    box-sizing: border-box;
    /* position: relative;
    overflow-x: hidden ; */
}


body {
    background-color: #F9F9F9;
    color: rgb(0, 0, 0);
        /* position: relative;
    overflow-x: hidden ; */
}


iframe {
    border: 0;
}

fieldset {
    padding: 0;
    border: 0;
    margin: 0;
}

/* это свойство и класс нужны чтобы роботы видели, а чел глаз нет */
.visually-hidden {
    position: fixed;
    transform: scale(0);
}