.trade {

}

.title__trade {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 35px;

    margin-bottom: 60px;
}

.title__trade span {
    color: red;
}

.trade__wrapper {
    display: flex;
    justify-content: space-between;

    gap: 30px;

    margin-bottom: 60px;
}

.trade__card {
    background-image: url(../image/bg/product.jpg);
    background-repeat: no-repeat;

    padding: 50px 85px;
    width: 30%;

    display: flex; /* Включить режим flex */
    flex-direction: column; /* Установить вертикальное направление */
    justify-content: space-between;
}

.title__card-trade {
    color: #fff;
    font-weight: 700;
    font-size: 35px;

    text-transform: uppercase;

    margin-bottom: 10px;
}

.title__card-trade span {
    color: red;
}

.desc__card-trade {
    margin-bottom: 25px;

    font-weight: 500;
    font-size: 20px;
    color: #fff;

    text-transform:lowercase;
}

.old-service {
    color: gray;
}

.btn__card-trade {
    padding: 5px 20px;
    color: #fff;
}

.trade__points {
    margin-bottom: 140px;
}
.title__points-trade {
    font-weight: 700;
    font-size: 35px;

    text-transform: uppercase;

    margin-bottom: 40px;
}
.list__points-trade {
    font-weight: 300;
    font-size: 20px;
    
}

.list__points-trade img {
    margin-right: 15px;
}

.list__points-text {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.list__points-text:nth-last-child(1) {
    margin-bottom: 40px;
}

.btn__points-trade {
    padding: 5px 20px;
    
    font-weight: 700;
    font-size: 22px;

    color: #fff;
}
